<div class="about">
  <img
    src="https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688__340.jpg"
    alt="..."
  />
  <div>
    <h5 class="title">About us</h5>
    <p class="text mb-5">
      Indian food is rapidly gaining more and more popularity all around the
      world. The country boasts of wide range of tastes and flavours. With
      differences in geography and culture come the differences in cuisines.
      Indian culture gives huge importance to being a good host. Be it marriage,
      meeting, birthday or any other kinds of functions, dining and cuisine is
      one of the important part of Indian culture and lifestyle and varied from
      one culture to another. The variety of cuisines mostly depends on local
      climatic conditions, social conditions along with the geographical
      location which majorly define the food habits. Mots defining features of
      all kinds of Indian cuisine is extensive use of herbs and spices along
      with vegetables. We hope you enjoy the indian food served in our
      restaurant.
    </p>
  </div>
</div>
